/* font */
* {
    font-family: 'Red Hat Display', sans-serif;
}

/* links */
a {
    color: #32936F !important;
}
.link-underline:hover {
    transition: .25s;
    text-decoration-color: #32936F !important;
    cursor: pointer;
}

/* checkboxes */
input[type='checkbox'] {
    accent-color: #32936F !important;
}
.form-check-input:checked {
    background-color: #32936F !important;
    border-color: #32936F !important;
}

/* buttons */
.bg-action {
    background: #32936F !important;
    border: 1px solid #32936F !important;
    transition: background .3s ease !important;
}
.button-action:hover {
    background-color: #32936F !important;
}
.btn-outline-primary {
    color: #32936F !important;
    border-color: #32936F !important;
}
.btn-outline-primary:hover {
    color: #FFFFFF !important;
    background: #32936F !important;
}
.btn-check:checked+.btn {
    color: #FFFFFF !important;
    background: #32936F !important;
}

/* header */
#header {
    position: fixed;
    z-index: 1;
    width: 100%;
}
.header {
    height: 6rem;
}
.headerIMG {
    height: 30px;
    width: 30px;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.offcanvas {
    width: 250px !important;
}
.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

/* footer */
.footer-bg, .home-bg {
    background-color: #1f2227 !important;
}
.footer-text, .home-text {
    color: #CCCCCC  !important;
}

/*for animation*/
.dropdown-toggle:after {
    transition: 0.7s;
}

/* profile */
.button-profile {
    font-size: 27px;
    padding: 0.2rem 5rem;
    border-radius: 10000px;
    margin-left: 2rem;
    margin-top: 3.2rem;
    background-color: #CDC1FF;
    color: #FFFFFF;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.button-profile:hover {
    cursor: pointer;
    background-color: #32936F;
}
.login-box {
    margin-top: 3rem;
}
.login-splash-container {
    width: 30vw;
}
.login-splash {
    width: 100%;
}
.height-row {
    height: 2rem;
}

/* planner */
.meal-block-container {
    margin:  4rem auto auto auto;
    width: 70%;
    border: solid 2px black;
}
.meal-container {
    height: 100%;
    width: 100%;
    text-align: center;
    border: #32936F 2px solid;
    border-radius: 2rem;
    padding: 1.5rem 0;
    min-width: 300px;
}
.meal-container-meal {
    padding-top: 1rem;
    margin-right: 1rem;
}
.planned-meal-container {
    margin-right: 3rem;
}
.planner-bg {
    background-color: #fff !important;
}

/* search results background */
.bg-color {
    background-color: #fff !important;
}

/* recipe card */
.recipe-card {
    max-width: 250px !important;
}
/*.recipe-card:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}*/
.imgContainer {
    position: relative;
}
.icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(250%, -325%);
    background: #fff;
    padding: 5px 7px;
    border-radius: 100%;
}
.cardInfo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
}

/* recipe cards */
.info-tag {
    color: #32936F;
    display: inline-block;
    margin-left: .25rem;
    border: 1px solid #32936F;
    padding: .25rem .5rem;
    border-radius: 50px;
    transition: background ease-in .25s;
}
.info-tag:hover {
    cursor: pointer;
    background: #32936F;
    color: white;
}

/* pantry */
#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #d1e7dd !important;
    z-index: 0;
    margin-top: 56px;
    color: #32936F;
}
@media (max-width: 600px) {
    #sidebar {
        display: none;
    }
    #searchContent {
        margin-left: 0 !important;
    }
}