* {
    font-family: 'Red Hat Display', sans-serif;
}

a {
    color: #804E49;
}

.button-google {
    background-color: white;
}

.button-google:hover {
    background-color: lightgrey;
}

/*Profile Style*/
.button-profile {
    font-size: 27px;
    padding: 0.2rem 5rem;
    border-radius: 10000px;
    margin-left: 2rem;
    margin-top: 3.2rem;
    background-color: #CDC1FF;
    color: #FFFFFF;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-profile:hover {
    cursor: pointer;
    background-color: #7969ff;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.bg-primary {
    background-color: #FFE9C9 !important;
}

.bg-action {
    background-color: #CDC1FF !important;
}

.text-primary {
    color: #804E49 !important;
}

.link-underline:hover {
    text-decoration-color: #804E49 !important;
}

.button-action:hover {
    background-color: #BCB0EE !important;
}

.header {
    height: 6rem;
}

.login-box {
    margin-top: 3rem;
}

.login-splash {
    width: 100%;
    transform: translateX(-50px);
}

.height-row {
    height: 2rem;
}

.p-underline {
    border-bottom-width: 0;
}

.p-underline:hover {
    border-bottom-width: medium;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #FFE9C9;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
}